body{
	background: #f3f3ed;
}
.profile{
	border: 1px solid lightgray;
	box-shadow:10px 8px 8px -8px #000;
	width:23%
	text-align:center;
}
.profile img{
width:20%;
border-radius:20px;
}
.profile>a{
	font-size::20px;

}
.summary{
	width:70%;
	margin-left:1%;
	padding:5%;
	border:1px solid #bdbdbd;
	box-shadow:0px 8px 8px -8px #000;
}
table{
	border-collapse:collapse;
	width:100%;
}
table th{
	background-color:#000;
	color:#fff;
	padding:10px;
}
table td{
	padding:10px;
}
.skill ,.skill-db,.skill-frame li{
	width:30px;
	background-color:#5bacfa;
	color:#fff;
	padding:15px;
	margin:1%
	border-radius:10px;
}
.skill,.skill-db,.skill-frame{
	display:flex;
}